<section class="follow">

    <section id="top">
        <section id="info">
            <h1><%= title %></h1>
            <section id="desc">
                <h2>Info:</h2>
                <p>This NFT is classified as '<%= title %>' NFT Art. 
                It's current value in the market is <%= value %> CHF.
                Market value expected to increase.</p>
            </section>
        </section>
        <img src="<%= img %>" alt="<%= title %>">
    </section>

    <section id="buttons">
        <button class="grow_hover">Add +</button>
        <button class="grow_hover">Track</button>
        <button class="grow_hover">Notify Me</button>
    </section>

</section>