<section id="friendlist">

    <section class="page" id="your_friends">
        <h1>Your friends</h1>
        <% for(let i=1; i < 11; i++) { %>
            <% let friend={name: "Friend Number " + i} %>
            <%- include('includes/friendlist_item', friend) %>
        <% }; %>
    </section>

    <section class="page" id="requests_received">
        
        <h1>Your friends</h1>
        <% for(let i=1; i < 11; i++) { %>
            <% let friend={name: "Friend Number " + i} %>
            <%- include('includes/friendlist_item', friend) %>
        <% }; %>
    </section>

    <section class="page" id="requests_sent">
        <h1>Your friends</h1>
        <% for(let i=1; i < 11; i++) { %>
            <% let friend={name: "Friend Number " + i} %>
            <%- include('includes/friendlist_item', friend) %>
        <% }; %>
    </section>

    <section id="bookmarks">
        <% for(let i=0; i < 9; i++) { %>
            <% let style = 'grid-area: ' + (1 + 2*i) + ' / 1 / ' + (4 + 2*i) + ' / 2' %>
            <div style="<%= style %>" id="bm<%=i%>" class="bookmark"></div>
        <% }; %>
    </section>

</section>