<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/navbar_min.css' />
  </head>
  <body>

    <header id="header">
      <%- include('header') %>
    </header>

    <nav id="navbar" class="minimized">
      <% let pages = ["home", "exchange", "discover", "follow", "friendlist", "rooms"] %>
      <%- include('navbar', {pages:pages}); %>
    </nav>

    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </main>

  </body>
</html>