<!DOCTYPE html>
<html>

  <%- include('./includes/head') %>

  <body>

    <!-- TODO: Transfer this page structure to index.html-->
    <%- include('header') %>

    <!-- Minimize navbar by adding: class="minimized" -->
    <%- include('./includes/navbar'); %>

    <main>
      <!-- Uncomment (one at a time!) to test different main views-->
      <%- include('discover') %>
      
      <% let obj = {"title": "You wouldn't right click an NFT", "img": "/images/irony.jpg", "value": 69420} %>
      <%- include('follow', obj) %>
    </main>

    <aside id="aside"></aside>

    <footer id="footer"></footer>

  </body>
</html>