<section id="rooms">

    <form method="POST" action="/rooms/new" enctype="multipart/form-data">
        <label for="name"></label>
        <input type="text" name="name" id="name">

        <label for="description"></label>
        <input type="text" name="description" id="description">

        <input type="submit" value="Make new room">
    </form>

    <!-- pubblic rooms -->
    <article class="rooms_section" id="general">
      <h1>Chat Rooms</h1>
      <ul class="discover_lineup">
            <!-- Used place holders -->
            <% rooms.forEach( item => { %>
                <li class="discover_item grow_hover shadow"><a href="/rooms/<%= item._id %>">
                    <img src="<%= pngUrl(item.icon) %>" alt="<%= item.name %>">
                    <h1><%= item.name %></h1>
                </a></li>
            <% }) %>
  
      </ul>
    </article>

    <!-- private rooms -->
    <article class="private_rooms_section" id="general">
        <h1>Chat Rooms</h1>
        <ul class="discover_lineup">
              <!-- Used place holders -->
              <% rooms.forEach( item => { %>
                  <li class="discover_item grow_hover shadow"><a href="/rooms/<%= item._id %>">
                      <img src="<%= pngUrl(item.icon) %>" alt="<%= item.name %>"  >
                      <h1><%= item.name %></h1>
                  </a></li>
              <% }) %>
    
        </ul>
      </article>
    
    <!-- too see the invites to join privates rooms -->
    <section class="invites">
        <button id="accept_invite">accept invite</button>
    <section>
  
  </section>