<section class="single_collection">

    <section>
        <img src="<%= collection.img %>" alt="the image of the collection">
        <button id="track">
            Track
        </button>
    </section>


    <section id="collection_info">
        <h1 id="collection_title"><%= collection.title %></h1> 
        <p id="collection_desc"><%= collection.description %></p>
        <a href="<%= collection.OpenSea_link %>">  Link to OpenSea: </a>
    </section>

    <section id="collection_stats">
        <div>
            <h5>Total Volume: <%= collection.total_volume %> </h5>
        </div>
        <div>
            <h5>Floor Price: <%= collection.floor_price %> </h5>
        </div>
        <div>
            <h5>Average Price: <%= collection.average_price %> </h5>
        </div>
        <div>
            <h5>Created At: <%= collection.created_date %> </h5>
        </div>

        <div>
            <h5><%= collection.num_owners %> people own at least one.</h5>
        </div>

        <div>
            <h5>Total Supply: <%= collection.num_assets %></h5>
        </div>

        <div>
            <h5>Total Sales: <%= collection.total_sales %></h5>
        </div>

    </section>

    <section id="collection_graphs">
        
    </section>

   
</section>  